.form-field {
    padding-bottom: 20px;
}

.form-label {
    text-align: right;
}

@media (max-width: 780px) {
    .form-label {
        text-align: left;
        padding-left: 20px;
    }
}

.form-spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-field {
    border: 3px solid #666666 !important;
}

.header-banner {
    margin-bottom: 25px;
}